# Python Lists

* Lists are used to store multiple items in a single variable
* lists are created using square brackets
* lists items are ordered, changeable, and allow duplicate values.
* List items are indexed, the first item has index[0], the second item has index [1] etc. 
* The list is changeable, meaning that we can change, add, and remove items in a list after it has been created
* You can also use the list constructor - list() to create lists.

# List Slicing

* The format for list slicing is [start:stop:step].
    * start is the index of the list where slicing starts. (Default = 0)
    * stop is the index of the list where slicing ends. (Default = length)
    * step allows you to select nth item within the range start to stop.(Default = 1)

In [1]:
tv =  [
    'breaking bad',
    'the wire',
    'how i met your mother',
    'sherlock',
    'the office',
    'friends',
    'the office',
    'doctor who',
    'dark'
]

In [2]:
print(type(tv))

<class 'list'>

In [5]:
# Generate a new list that contains all elements from index 2 before index 5

In [6]:
a = tv[2:5]
print(a)

['how i met your mother', 'sherlock', 'the office']

In [9]:
# pick TV series at even indices

b = tv[::2] # smilar as  tv[0:9:2]
print(b)

['breaking bad', 'how i met your mother', 'the office', 'the office', 'dark']

In [11]:
c = len(tv)
print(c)

9

In [12]:
tv

['breaking bad',
 'the wire',
 'how i met your mother',
 'sherlock',
 'the office',
 'friends',
 'the office',
 'doctor who',
 'dark']

In [16]:
b = tv[9:0:-1]
print(b)

['dark', 'doctor who', 'the office', 'friends', 'the office', 'sherlock', 'how i met your mother', 'the wire']

## Challenge - Reverse a list

Given a list of numbers, reverse it and printit/(tryp this problem with and without inbuilt method)

Input:  List= [4,5,8,1,9,2]

output: 2 9 1 8 5 4

In [21]:
# without the method

l = [4,5,8,1,9,2]


for i in range (len(l)-1, -1, -1):
    print(l[i], end= ' ')

2 9 1 8 5 4

In [20]:
# with the slicing mehtod

l = [4,5,8,1,9,2]

r = l[::-1]

print(r)

[2, 9, 1, 8, 5, 4]

# List comprehension

* List comprehension is an elegant way to deifne and create lists based on exisitng lists.
* Syntax:
    * [expression for item in list]

## Chhallenge - Square list

generate a list of squares of all numbers between 1 to 100. Do it in one line of code

Output: [1, 4, 9, 16, 25, 36, ......., 10000]

In [22]:
res = []

for i in range (1,101):
    res.append(i ** 2)
    
print (res, end= ' ')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [23]:
res = [i**2 for i in range(1, 101)]

print(res, end= ' ')

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [27]:
l = [4,5,8,1,9,2]

for i in range (len(l)-1, -1, -1):
    print(l[i], end= ' ')

2 9 1 8 5 4

In [29]:
# using MAP function

def square(x):
    return x ** 2

r = list(map(square, range(1, 101)))

print(r)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

# Even list

Given a list of random umbers, filter out all even numbers from it. 

input: [ 27,24,21,46,48,6,25,38,10,40]

Output: [24,46,48,6,38,10,40]

In [2]:
#method 1

a = [27,24,21,46,48,6,25,38,10,40]

b = []

for x in a:
    if x % 2 == 0:
        b.append(x)

In [4]:
print(b)

[24, 46, 48, 6, 38, 10, 40]

In [7]:
# Method 2

a = [27,24,21,46,48,6,25,38,10,40]

b = [x for x in a if x % 2 == 0]

print(b)

[24, 46, 48, 6, 38, 10, 40]

# Tuples

* tuples are used to store multiple items in a single variable
* A tuple is a collection which is ordered and immutable (unchangeable).
* Tuples are written with round brackets.
* Tuple items are indexed, the first item has index[0], the second item has index[1] etc.
* Tuples can be created with tuple constructor - tuple()
* Tuples can also be created by simply writing multiple values with comma separation.
* Tuples can also be created by simply writing multiple values with comma separation.
* Tuples are processed faster than lists in python.

In [13]:
# Tuple is basically a read - only list

continents = ['Asia', 'Africa', 'North America', 'South America', 'Europe', 'Antarctica', 'Australia']
# this is a lsit and anyone can come and make any changes and mess up the spellings or the data which is already defined
# So to freeze the data we will use tuples and define it in round brackets

In [15]:
continents = ('Asia', 'Africa', 'North America', 'South America', 'Europe', 'Antarctica', 'Australia')

In [16]:
print(type(continents))

<class 'tuple'>

In [18]:
continents[0] = 'abcd'

# once declared data in tuples cannot be changed again

TypeError: 'tuple' object does not support item assignment

In [19]:
vowels = ('a', 'e', 'i', 'o', 'u')

In [21]:
print(vowels, type(vowels))

('a', 'e', 'i', 'o', 'u') <class 'tuple'>

In [24]:
planets = 'Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune', 'Pluto'

# if you define and values with the commas and data in it it will read it as a tuple by default

In [23]:
print(type(planets))

<class 'tuple'>

In [29]:
# converting list to tuple

a = tuple ([27,24,21,46,48,6,25,38,10,40])

print(a)

(27, 24, 21, 46, 48, 6, 25, 38, 10, 40)

In [28]:
print(type(a))

<class 'tuple'>

In [32]:
a = ('Hello', 4, 5.4343, (3, 5))
# tuple inside tuple will also work


print(type(a))

<class 'tuple'>

In [34]:
# converting a tuple to list

a = (27, 24, 21, 46, 48, 6, 25, 38, 10, 40)

b = list(a)
print(b, type(b))

[27, 24, 21, 46, 48, 6, 25, 38, 10, 40] <class 'list'>

In [35]:
# tuple.append is not possible as we cannot make any changes

In [37]:
# How to make any change inside a tuple

a = (3, 5, 4, 6, 7)

b = list(a)
b [2] = 9
a = tuple(b)

print(a, type(a))

# here the tuple inside a is not the old tuple but it a new tuple, as we cannot change any valuse inside a tuple

(3, 5, 9, 6, 7) <class 'tuple'>

In [39]:
# immutable objects always executes faster in python, hence tuple executes faster than lists, use tuples over tuples if you have a fixed data

In [42]:
continents = ('Asia', 'Africa', 'North America', 'South America', 'Europe', 'Antarctica', 'Australia')

for  c in continents:
    print(c)

Asia
Africa
North America
South America
Europe
Antarctica
Australia

In [46]:
continents[0:3]

# tuple slicing does work
# because we are just reading and changing any value

('Asia', 'Africa', 'North America')

In [50]:
a = (2, 3, 4, 1, ['hello'])

print(type(a[4]))

<class 'list'>

In [57]:
a[4].append('world')

print(a)

(2, 3, 4, 1, ['hello', ' world', 'world', 'world', 'world', 'world'])

In [59]:
a[4] = ['hello', 'world', 'how']

# this will not work, we must use append function

TypeError: 'tuple' object does not support item assignment

In [61]:
# adding tuples

a = (2, 5 , 5, 3)
b = (3, 6, 7, 1)

c = a + b

print(c)

# we just created a new tuple

(2, 5, 5, 3, 3, 6, 7, 1)

In [62]:
a, b, c, d = 2, 5, 6, 7

In [64]:
print(type(c))

<class 'int'>

In [65]:
a = [3, 5, 6]
b = (4, 0, 1, a)
a.append(19)

print(b)

(4, 0, 1, [3, 5, 6, 19])

In [67]:
a = (1, 3, 5)
b = (3, 6, 8)

a = a + b

print(a)

(1, 3, 5, 3, 6, 8)

# Challenge - Check if sorted

Given a list of numbers, check if it sorted ( in increasing order )

In [73]:
a = (1, 4, 19, 58, 2, 59, 3)

#sort function only excits only on list

ans = 'sorted'

for i in range (len(a)-1):
    if a[i] < a[i+1]:
        continue
    else:
       ans = 'not in the correct order'
    
print(ans)

not in the correct order

In [80]:
a = (1, 4, 19, 58, 2, 59, 3)


for i in range (len(a)-1):
    if a[i] < a[i+1]:
        continue
    else:
       print('not in the correct order')
       break

not in the correct order

In [78]:
a = (1, 4, 19, 58, 2, 59, 3)

ans = 'sorted'

for i in range (len(a)-1):
    if a[i] > a[i+1]:
       ans = 'not in the correct order'
       break
    
print(ans)

not in the correct order

# Functions - args


#### Challenge - Write a function which returns the product of all its arguments.

The user should be able to call the function like

    product(2, 3, 9, 1)   #54
    product(4, 2)         #8
    
  The function should be able to accept any number of arguments

In [86]:
def product(*nums):        # syntax is *variable
    print(nums, type(nums))

In [85]:
product(10,20,30,44,5,7)

(10, 20, 30, 44, 5, 7) <class 'tuple'>

In [87]:
def speak(*words):
    print(words, type(words))

In [88]:
speak('hello', 'ji', 'how do you do')

('hello', 'ji', 'how do you do') <class 'tuple'>

In [92]:
def product(*args):    # generally accepted term is args it is not the actual keyword
    p = 1
    for number in args:
        p = p * number
    return p

In [93]:
product(10,20,30)

6000

In [95]:
a = [1,2,6,7,6]

print(*a)

# * - spread operator, it deletes the comma

1 2 6 7 6

# Functions - kwargs

##### kwargs - key word arguments

In [1]:
def person(name, age, profession):
    print(name, age, profession)
    
# we would not know what all the inputs can be given by the user, and here no changes can be made in the def function
# this can be solved using kwargs function

In [2]:
person('Peter Parker', 20, 'Photographer')

Peter Parker 20 Photographer

In [3]:
def person(name, age, profession, **kwargs): # ---> **kwargs has to be defined like this, although it is not a keyword, it is still a dictionary
    print(name, age, profession)
    print(kwargs)
    print(type(kwargs))

In [4]:
person('Peter Parker', 20, 'Photographer', city= 'New York', villains=['Venow'])

Peter Parker 20 Photographer
{'city': 'New York', 'villains': ['Venow']}
<class 'dict'>

In [5]:
def hogwarts(house1, house2, house3, house4, *args, **kwargs):
    print('Houses are ', house1, house2, house3, house4)
    print()
    print('args:', args)
    print()
    print('kwargs:', kwargs)

In [6]:
hogwarts(
    'Gryffiindor',
    'Ravenclaw',
    'Hufflepuff',
    'Slytherin',
    'Severus Snape',
    'Horace Slughorn',
    'Remus Lupin',
    headmaster = 'Albus Dumbledore',
    deputy_headmasterss = 'Minerva McGonagall'
)

Houses are  Gryffiindor Ravenclaw Hufflepuff Slytherin

args: ('Severus Snape', 'Horace Slughorn', 'Remus Lupin')

kwargs: {'headmaster': 'Albus Dumbledore', 'deputy_headmasterss': 'Minerva McGonagall'}

In [7]:
def pg(room, bathroom, food, *facility, **rent):
    print('Room no: ', room)
    print()
    print('Is bathroom clean ', bathroom)
    print()
    print('Is the food good ', food)
    print()
    print('What are the facitly', facility)
    print()
    print('The rent for 2, 3, 4 sharings are: ', rent)

In [8]:
pg(
    605,
    'Yes',
    'Yes',
    'gym',
    'projector',
    'lift',
    'wifi',
    two_sharing = '15k',
    three_sharing = '10k',
    four_sharing = '8k' 

)

Room no:  605

Is bathroom clean  Yes

Is the food good  Yes

What are the facitly ('gym', 'projector', 'lift', 'wifi')

The rent for 2, 3, 4 sharings are:  {'two_sharing': '15k', 'three_sharing': '10k', 'four_sharing': '8k'}

In [1]:
git init

SyntaxError: invalid syntax (2830201818.py, line 1)