# Functions in Python

* A function is a block of code which only runs when it is called.
* In python a function a defined with the 'def'
* Functions can accept any number of arguments of any type 
* Functions can optionally return data as well. This data may also be of any type. You can return more than one value as well
* Arguments can have default values as well.
* While calling function, the user may define arguments as keyword pairs

In [1]:
def tea():
    print('Boil water with tea leaves and sugar')
    print('Add milk')
    print('Let it boil 4-5 times')
    
print('Not a part of the function')
    
def coffee():
    print('Boil some milk')
    print('Pour it in cup with some coffee')
    print('Stir')
    
    
    
    
# def function work only upon called

Not a part of the function

In [2]:
# Calling function
tea()

Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times

In [3]:
# Can be called as many times

tea()
tea()
tea()

Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times
Boil water with tea leaves and sugar
Add milk
Let it boil 4-5 times

In [4]:
coffee()

Boil some milk
Pour it in cup with some coffee
Stir

### Write a function to say hello to people by their names

In [ ]:
print('Hello Prasad')
print('Hello Batman')
Print('hello Thor')

In [12]:
def hello(name):
    print('I am ', name)

In [14]:
hello ('Batman')


# Here 'Batman' gets passed to (name) in def hello(name)
# the string in hello(batman) gets passed implicitly to def hello(name)

I am  Batman

In [11]:
hello('iron name')

I am iron name

In [13]:
hello(4)

I am  4

In [15]:
hello(18)
hello('Virat')
hello('my jersy number is')

I am  18
I am  Virat
I am  my jersy number is

In [16]:
print(type(hello))

<class 'function'>

In [18]:
def fight(name, age, villains):
    print('Hero name', name, 'at age ', age, 'was fighting the villians - ', villains)

In [20]:
fight('spider man', 15, ['Green Goblin', 'elctro'])

Hero name spider man at age  15 was fighting the villians -  ['Green Goblin', 'elctro']

In [24]:
def fight(name, age, villains = ['Thanos', 'Ultron']):
    print('Hero name', name, 'at age ', age, 'was fighting the villians - ', villains)
    
    
fight ('Iron man', 30)

# there was default agrument was provided as ['Thanos', 'Ultron']
# so if the 3rd argument was not provided while calling the function it will print the default values.

Hero name Iron man at age  30 was fighting the villians -  ['Thanos', 'Ultron']

In [25]:
# giving them the default values

def fight(name = 'Spiderman', age = 15, villains= ['Green Goblin', 'Electro']):
    print('Hero name', name, 'at age ', age, 'was fighting the villians - ', villains)

In [26]:
fight()

Hero name Spiderman at age  15 was fighting the villians -  ['Green Goblin', 'Electro']

## Returning data from a function

### Write a function to get the cube of a number

In [28]:
def cube_of(x):

    ans = x ** 3
    return ans

In [29]:
cube_of(4)

64

In [30]:
def cube_of(x):
#return value of x**3

    ans = x ** 3
    return ans

In [31]:
x = 5

# compute the cube of c and store it in 'y'
y = cube_of(x)

#

In [33]:
print(y, type(y))

125 <class 'int'>

In [34]:
z = cube_of(6)
print(z)

216

### Return as many as values as you want

In [45]:
def spiderman():
    return 'Peter Parker', 20, 'Tom'

    return 5, 2,3. ## reduntant code, will never get executed
# only one return can be use

In [46]:
name, age, actor = spiderman()

In [47]:
print('name - ', name)
print('age - ', age)
print('Actor - ', actor)

name -  Peter Parker
age -  20
Actor -  Tom

# Calling with keyword pair arguments

In [50]:
def fight(name, age, villains = ['Thanos', 'Ultron']):
    print('Hero name', name, 'at age ', age, 'was fighting the villians - ', villains)

In [54]:
fight(age = 20, villains = ['Thanos jr', 'Electroo'], name = 'Spiderman')

# even if you do not remember the order in the def function, this is the alternative way to use the keywordsto assign the value

Hero name Spiderman at age  20 was fighting the villians -  ['Thanos jr', 'Electroo']

In [55]:
fight?

## Call stack

In [57]:
def square(x):
    return x ** 2

def pyth(a,b):
    c2 = square(a) + square(b)
    return c2

print(pyth(4,5))

print('hello')
print(square(10))

41
hello
100

#### Area where a variable is accessible

* scope of 'a' and 'b' was in c2 = square(a)+square(b)


* print statments were in the Global Scope

In [58]:
m = 10        # Global Scope
# its value can be read inside any function


x = 1000  # Global 'x' s shadowed by the local 'x'

def square(x):
    return x ** 2

def pyth(a,b):
    c2 = square(a) + square(b)
    return c2

print(pyth(4,5))

41

In [61]:
y = 4        # Global y

def square(x):
    y = 10   # Local y
    print('local y = ', y)
    return x ** 2

def pyth(a,b):
    c2 = square(a) + square(b)
    return c2


print('global variable is = ', y)

global variable is =  4

In [62]:
y = 4        # Global y

def square(x):
    global y
    y = 10   # Local y
    print('local y = ', y)
    return x ** 2

def pyth(a,b):
    c2 = square(a) + square(b)
    return c2


print('global variable is = ', y)

global variable is =  4

In [92]:
x = 10  # global scope

def hello():
    x = 20    # local scope or called as local variable
    print('x = ', x)
    print('hello world')
    
hello()
print(x)

x =  20
hello world
10

# Map Function

In [67]:
def square(x):
    return x ** 2

a = [5,2, 6, 9, 3]

Generate a list that contains the square of the number in 'a;

b = [25, 4, 36, 81, 9]

In [64]:
# 1st method

b = []
for x in a:
    b.append(square(x))
    
print (b)

[25, 4, 36, 81, 9]

whenever you want to call a function on all elements of an iterable (list, range, tuple, set)

you can do it in one line

In [72]:
a = [5,2, 6, 9, 3]

b = list(map(square, a))

In [73]:
print(b)

[25, 4, 36, 81, 9]

# Lambda function

A lambda function is a small anonymous function.
A lambda function can take any number of arguments, but can only have one expression.

Example:

    square = lambda n: n**2
    print(square(5)) #25

In [74]:
def square(x):
    return x ** 2

def cube(x):
    return x ** 3

# there is a simpler way to write this using lambda function

In [75]:
square2 = lambda x: x **2

In [76]:
square2(10)

100

In [87]:
multiply = lambda a,b: a*b

def multiply2(a, b):
    return a*b

multiply2(5,6)

30

In [90]:
multiply = lambda a,b: a*b

def multiply2(a, b):
    return a*b

a = 5
b = 6

print (multiply(a,b))
print (multiply2(a,b))


# here both multiply and multiply2 are same

30
30

In [93]:
d = lambda b: (b ** 2, b+b)

In [95]:
d(10)

(100, 20)