# Sets

* Set is an unordered collection of items, where evert element is unique and immutable. However, the set itself is mutable. There are two ways of creating a set
* there are two ways of creating a set
    * putting all the elements inside curly braces "{" and "}"
    * Using set() method.
* Adding elements to set - add(), update()
* Removing elements from set - remove(), discard()
* Python sets allow fast insertion , deletion and searching.

# Sets

In [11]:
s = {1, 2, 5, 6, 0, 'hello', 'world'}

In [2]:
(type(s))

set

In [12]:
print(s)

{0, 1, 2, 'world', 5, 6, 'hello'}

In [ ]:
# List - insert

In [13]:
# insertion, deletion and searching in a set takes - 0(n) time
# A constant number of operations

In [18]:
if 2 in s:
    print('2 is in the set')
    
# searching here works significantly faster in the set

2 is in the set

In [19]:
# briefs are writen in the book about hash address

In [21]:
{1, 2, 5, 6, 0, 'hello', 'world'}

s.add(4)

print(s)

{0, 1, 2, 'world', 4, 5, 6, 'hello'}

In [22]:
s.update([500, 600, 700, 800])

print(s)

{0, 1, 2, 4, 5, 6, 'world', 600, 800, 'hello', 500, 700}

In [23]:
s.remove(600)

print(s)

{0, 1, 2, 4, 5, 6, 'world', 800, 'hello', 500, 700}

In [24]:
s.remove(650)

print(s)

KeyError: 650

In [25]:
u = {0, 0, 0, 0, 0}

print(u)

{0}

In [26]:
#it ignores the duplicate elemets

In [28]:
s.discard(500)

print(s)

{0, 1, 2, 4, 5, 6, 'world', 800, 'hello', 700}

In [29]:
s.discard(500)

In [30]:
#discard function doesnot give you any error only the remove function throws an error

In [32]:
s = set((4, 5, 6))

print(s, type(s))


#convert tuple in set

{4, 5, 6} <class 'set'>

In [33]:
s = {
    
    [1, 3], 
    'Hello',
    3,
    5.6
    {3, 5}
}

print(s)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3806964593.py, line 6)

In [34]:
# here you get an error as 'unhashable set', that means you cannot put an mutable data in set
# i.e list and set is not allowed in a Set

### Make a list of unique tv shows compiling from all your friends' favourite tv shows

In [38]:
friend1 = [
    'how i met your mother',
    'breaking bad',
    'The wire'
]

friend2 = [
    'Breaking bad',
    'Westworld',
    'The office'
]

friend3 = [
    'Sopranos',
    'Game of Thrones',
    'Sherlock'
]

friend4 = [
    'Frineds',
    'Sherlock',
    'Daredevil'
]

In [41]:
s = set()
s.update(friend1, friend2, friend3, friend4)
# update function is just reading the data from the list here and updating it and not just coping the list, so mutable list is added in the set
# if you using function s.add it will throw an error


print(s)

{'Breaking bad', 'Sherlock', 'The office', 'Sopranos', 'how i met your mother', 'The wire', 'Frineds', 'breaking bad', 'Game of Thrones', 'Westworld', 'Daredevil'}

In [40]:
s

{'Breaking bad',
 'Daredevil',
 'Frineds',
 'Game of Thrones',
 'Sherlock',
 'Sopranos',
 'The office',
 'The wire',
 'Westworld',
 'breaking bad',
 'how i met your mother'}

In [43]:
for tv in s:
    print(tv, end=', ')
    
# can iterate

Breaking bad, Sherlock, The office, Sopranos, how i met your mother, The wire, Frineds, breaking bad, Game of Thrones, Westworld, Daredevil,

### A fifth friend comes along and produces his tv sho list. He wants to check which of the shows you have in common with the list.

In [44]:
friend5 = [
    'The office', 
    'Doctor Who',
    'Peaky Blinders'
]

In [46]:
for tv in friend5:
# searching for tv series in the set
    
    if tv in s:
        print(tv)

The office

# Dictionaries

* They are used to store data in a key - value pair format.
* The keys are always unique with a dictionary
* The values of the python dictionary may or may not be unique
* The values within a dictionary can be of any data type but the thing to note is that the keys are immutable. Hence, the key can only be strings, numbers or tuples.
* Dictionaries can be created using the dict() constructor or with curly brackets - {}
* Dictionaries also use **hashing** to store data

In [47]:
currency = dict()

In [48]:
currency = {}

In [49]:
currency = {
    'India' : 'Rupee',
    'USA' : 'Dollar',
    "Japan" : "Yen"
}

In [50]:
print(currency)

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen'}

In [51]:
print(type(currency))

<class 'dict'>

In [52]:
# India, USA, Japan - these are keys; Rupee, Dollar, Yen - these are values
# this is key-value pair

In [54]:
# to read the data
# use square brackets

currency['India']

'Rupee'

In [55]:
# to update the data

currency['USA'] = 'USD'

print(currency['USA'])

USD

In [60]:
currency = {
    'India' : 'Rupee',
    'USA' : 'Dollar',
    "Japan" : "Yen",
    'Spain' : 'Euro',
    'Italy' : 'Euro'
}



# Values can be repetative, but keys should be unique

# keys also stores the data through the hashing only so the same rule as sets applies here

In [58]:
print(currency)

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen', 'Spain': 'Euro', 'Italy': 'Euro'}

In [62]:
l = [1, 2, 3]

currency[l] = 'ok'

print(currency)

TypeError: unhashable type: 'list'

In [72]:
# List cannot be a key as it is mutable

# but tuple can be allowed

In [63]:
l = (1, 2, 3)

currency[l] = 'ok'

print(currency)

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen', 'Spain': 'Euro', 'Italy': 'Euro', 1: 'ok', (1, 2, 3): 'ok'}

In [65]:
# to delete the data

del currency[(1, 2, 3)]

print(currency)

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen', 'Spain': 'Euro', 'Italy': 'Euro', 1: 'ok'}

In [67]:
currency ['El Salvador'] = ['USD', 'Bitcoin']

print(currency)

# Values can be set, tuples or list

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen', 'Spain': 'Euro', 'Italy': 'Euro', 1: 'ok', 'El Salvador': ['USD', 'Bitcoin']}

In [68]:
currency ['El Salvador'] = ('USD', 'Bitcoin')

print(currency)

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen', 'Spain': 'Euro', 'Italy': 'Euro', 1: 'ok', 'El Salvador': ('USD', 'Bitcoin')}

In [71]:
currency ['El Salvador'] = set(['USD', 'Bitcoin'])

print(currency)

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen', 'Spain': 'Euro', 'Italy': 'Euro', 1: 'ok', 'El Salvador': {'Bitcoin', 'USD'}}

In [73]:
currency[None] = 'ok'

print(currency)

{'India': 'Rupee', 'USA': 'Dollar', 'Japan': 'Yen', 'Spain': 'Euro', 'Italy': 'Euro', 1: 'ok', 'El Salvador': {'Bitcoin', 'USD'}, None: 'ok'}

In [74]:
# None is allowed too

### Order?

Is order maintained in Python Dictionaries?

* All python versions <= 3.6   ----> unordered dictionaries
* All Python versions >= 3.7   ----> ordered dictionaries

## Iterating over a dictionary

In [75]:
menu = {
    'Dal Makhani' : 200,
    'Shahi Paneer' : 150,
    'Naan' : 45,
    'Roti' : 30,
    'Rice' : 100
}

In [76]:
menu.keys()

dict_keys(['Dal Makhani', 'Shahi Paneer', 'Naan', 'Roti', 'Rice'])

In [79]:
menu.values()

dict_values([200, 150, 45, 30, 100])

# Challenge - Check Palindrome!

Given a string A consisting of lowercase characters.

Check if characters of th given string can be rearranged to form a palindrome.

Return 1 if it is possible to rearrange the characters of the string A such that it becomes a palindrome else return 0.

input: A = " abcde "

output: 0

input: A = ' abba '

output: 1

In [ ]:
# in the given problem statement it is mentioned that it can be rearranged
# ie. order is not important
# for unordered cases we directly go to - set, dict (faster)

In [80]:
# check book for algorithm

In [1]:
def solve(A):
    # declare a frequency map (dictionary)
    
    freq = {}
    
    for char in A:
        if char in freq:
            freq[char] += 1
        else:
            freq[char] = 1
        print(freq)
            
    # freq map created
    
    odd_freq = 0
    
    for frequency in freq.values():
        if frequency % 2 == 1:
            odd_freq += 1
            
    if odd_freq <= 1:
        return 1
    else:
        return 0

In [3]:
solve('ababc')

{'a': 1}
{'a': 1, 'b': 1}
{'a': 2, 'b': 1}
{'a': 2, 'b': 2}
{'a': 2, 'b': 2, 'c': 1}

1

In [ ]:
def solve(A):
    freq{}
    
    for char in A:
        if char in freq:
            freq[char] =+ 1
        else:
            freq[char] = 1
            
        odd_freq = 0
        
        for frequency in freq_value():

## 2D lists

In [4]:
a = [1, 4, 9, 2, [1, 2]]

In [5]:
print(a, type(a))

[1, 4, 9, 2, [1, 2]] <class 'list'>

In [6]:
a = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

print(a)

[[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12]]

In [ ]:
# this is a 2d list

# matrix

In [7]:
print(a[0]) # <--- first row

[1, 2, 3, 4]

In [10]:
print(a[1]) # <---- second row

[5, 6, 7, 8]

In [12]:
print(a[0][1])  # <--- first row, first indices or first element

2

In [ ]:
a = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

b = [
    [1, 2, 3, 4],
    [5, 6, 7, 8],
    [9, 10, 11, 12]
]

# Iterating over 2D list/array

In [14]:
for row in a:
    print(row)

[1, 2, 3, 4]
[5, 6, 7, 8]
[9, 10, 11, 12]

In [15]:
for row in a:
    print(*row)
    
# all the bracktes and commas will go away

1 2 3 4
5 6 7 8
9 10 11 12

In [16]:
for row in a:
    for x in row:
        print(x**2)

1
4
9
16
25
36
49
64
81
100
121
144

In [17]:
for row in a:
    for x in row:
        print(x**2, end= ' ')  # ----> end function will give a space in between the numbers
    print() # ------------> this will take it to the new line and create it in form of matrix

1 4 9 16
25 36 49 64
81 100 121 144

# Reading 2D input

Let us say we are given an input as follows where the number of rows and columns is given first and then the 2D matrix:

    2 4
    1 2 3 4
    5 6 7 8

In [18]:
r, c = map(int, input().split())

2 4

In [36]:
a = []

# read the input row-by-row
# run loop which runs r times

for i in range(r):
    row = list(map(int, input().split()))
    a.append(row)

1 2 3 4
4 5 6 7

In [37]:
print(a)

[[1, 2, 3, 4], [4, 5, 6, 7]]

# Problems to Practice

**Easy**

    * Addition of two matrices
    * Subtraction of two matrices
    
**Intermediate**

    * Compute determinant of a square matrix
    * compute product of two matrices ( given they are product compatible)
    
**Hard**

    * Compute the inverse of a matrix

In [54]:
def res(a,b):

    r1, c1 = map(int, input().split())
    r2, c2 = map(int, input().split())

    a = []
    b = []
# c = []

    for i in range(r1):
        row1 = list(map(int, input().split()))
        a.append(row1)
    
    for j in range(r2):
        row2 = list(map(int, input().split()))
        b.append(row2)

result = map(res, a + b)    
print (result)

<map object at 0x00000181B68BF340>

In [1]:
import math
math.pi

3.141592653589793