# Strings:

# Initialisation and indexing

In [42]:
# Strings can be defined in single, double or triple quotes

In [38]:
book = 'Harry Poter and the Half Blood Prince'

In [39]:
print(book)

Harry Poter and the Half Blood Prince

In [40]:
books = '''
Harry Potter and the Philospher's Stone
Harry Potter and the Half Blood Prince
Harry Potter and the Half Blood Prince
'''

In [41]:
print(books)

Harry Potter and the Philospher's Stone
Harry Potter and the Half Blood Prince
Harry Potter and the Half Blood Prince

In [43]:
book = 'Harry Poter and the Half Blood Prince'

In [44]:
book[1]

'a'

In [45]:
book[0]

'H'

In [46]:
# How strings are handled in python

In [47]:
s = 'hello'
s = 'hello world'

# if you print the value of s here the, first the str 'hello' will be stored in s and than s will point towards 'hello world'
# hello world will not be updated in s
# the value will not be updated
# a new string object is created
# in python all strings are immutable, strings cannot be modified

In [49]:
len(book)  # to get the length of the string and also the spaces are counted

37

# Basic operations

    1. Concatenation: +
    2. Repetition: *
    3. Check occurence: in oparator
    4. Find index of occurence: ,find()
    5. Changing case- .lower(), .upper()

# Concatenation: +

In [50]:
harry = 'Harry Potter and the '
chamber = 'Chamber of Secrets'

book2 = harry + chamber

print(book2)

Harry Potter and the Chamber of Secrets

In [51]:
book2 = harry + chamber + ': Book ' + 2

TypeError: can only concatenate str (not "int") to str

In [52]:
# cannot add a int to a str

In [54]:
book2 = harry + chamber + ': Book ' + str(2)

print(book2)

Harry Potter and the Chamber of Secrets: Book 2

In [55]:
book2 = harry + chamber + ': Book ' + '2'

In [56]:
book2

'Harry Potter and the Chamber of Secrets: Book 2'

In [57]:
x = 2

book2 = harry + chamber + ': Book ' + str(x)

print(book2)

Harry Potter and the Chamber of Secrets: Book 2

In [58]:
# for these cases we use the 'str' keyword
# x might be defined somewhere in the code and when you want to call it and add as an str you can use the 'str' funciton

# Repetition:*

In [8]:
hello = 'Hello World '
s = hello * 5

print(s)

Hello World Hello World Hello World Hello World Hello World

In [4]:
'1'*10

'1111111111'

# In operator

In [5]:
book = 'Harry Potter and the Half Blood Prince'

In [6]:
if 'Harry' in book:
    print('yes')
else:
    print('no')

yes

In [7]:
if 'harry' in book:
    print('yes')
else:
    print('no')

no

In [11]:
book.count('Harry')   # count()

1

# .find()

In [15]:
book = 'Harry Potter and the Half Blood Prince'

print(book.find('and')) # a will occur at 13th index

13

# .replace()

In [16]:
text = 'Python is amazing'

In [17]:
print(text)

Python is amazing

In [20]:
text = text.replace('amazing', 'awesome')

In [22]:
print(text) # it returns the same text output

Python is awesome

In [23]:
# so store it in the new function

new_text = text.replace('amazing', 'awesome')

print(new_text)

Python is awesome

In [27]:
some_text = 'Python is amazing'

some_text = some_text.replace('i', 'x')

print(some_text)

Python xs amazxng

In [33]:
'python is amazing'.replace('amazing', 'awsome')

'python is awsome'

In [34]:
# we can do it in single line itself without assiging it to any variable

# .lower(), .upper()

In [29]:
book = 'Harry Potter and the Half Blood Prince'

book.lower()

'harry potter and the half blood prince'

In [30]:
book = 'Harry Potter and the Half Blood Prince'

book.upper()

'HARRY POTTER AND THE HALF BLOOD PRINCE'

In [32]:
print(book)  # book string remains intact, it just returns new string

Harry Potter and the Half Blood Prince

# Looping over strings

In [38]:
book = 'Harry Potter and the Half Blood Prince'

for char in book:
    print(char, end= ' ')

H a r r y   P o t t e r   a n d   t h e   H a l f   B l o o d   P r i n c e

In [42]:
book = 'Harry Potter and the Half Blood Prince'

del book

print(book)

NameError: name 'book' is not defined

In [40]:
# the string is lost now

# ord function

In [43]:
ord('a')   # it gives a ASCII value

97

In [45]:
# it only return values in sigle string value

In [47]:
ord('3')

51

In [52]:
chr(65)   # chr will give you opp value

'A'

 # String splicing

In [53]:
s = 'Hello World'

In [54]:
s[:-1]

'Hello Worl'

In [64]:
s = 'this book'


rever = s[::-1]

In [65]:
print(rever)

koob siht

# Pattern problem

A\
BB\
CCC\
DDDD

In [57]:
n = 4

for i in range(1, n+1):
    c = chr(i + ord('A') - 1)
    s = (c + ' ') * i
    print(s[:-1])

A
B B
C C C
D D D D

# strip function

In [58]:
s = '        Hello world      '
print(s)

        Hello world

In [59]:
s.lstrip()  # left strip

'Hello world      '

In [62]:
s.rstrip() # right strip

'        Hello world'

In [63]:
s.strip()

'Hello world'

# Reverse the order of the words

In [66]:
s = 'this book'   # print it as 'book this'

In [67]:
book = 'Harry Potter and the Half Blood Prince'

In [69]:
l = book.split()

In [70]:
print(print(l), type(l))

['Harry', 'Potter', 'and', 'the', 'Half', 'Blood', 'Prince']
None <class 'list'>

In [82]:
b = "%".join(l)
print(b)

Prince%Blood%Half%the%and%Potter%Harry

In [73]:
print(l)

['Harry', 'Potter', 'and', 'the', 'Half', 'Blood', 'Prince']

In [74]:
l = l[::-1]

In [75]:
print(l)

['Prince', 'Blood', 'Half', 'the', 'and', 'Potter', 'Harry']

In [76]:
s = ' '.join(l)

In [77]:
print(s)

Prince Blood Half the and Potter Harry

In [95]:
# writen in one line

book = 'Harry Potter and the Half Blood Prince'

s = book.split()
r = s[::-1]
rev = " ".join(r)
print(rev)

Prince Blood Half the and Potter Harry

In [98]:
book = 'Harry Potter and the Half Blood Prince'

b = book[::-1]
print(b)
c = b.split()
print(c)
r = c[::-1]
print(r)
j = ' '.join(r)
print(j)

ecnirP doolB flaH eht dna rettoP yrraH
['ecnirP', 'doolB', 'flaH', 'eht', 'dna', 'rettoP', 'yrraH']
['yrraH', 'rettoP', 'dna', 'eht', 'flaH', 'doolB', 'ecnirP']
yrraH rettoP dna eht flaH doolB ecnirP

# Format strings

In [1]:
apple_count = 4
orange_count= 10
guava_count = 5

# generate a string that says, 'I have 4 apples, 10 oranges and 5 guavas'

In [9]:
s = 'I have ' + str(apple_count)+' apples,' + str(orange_count) + ' oranges and ' + str(guava_count) + ' guavas.'

# this works on the python 3.6 version and above
# this wont work on the ide which are less than 3.6

In [5]:
print(s)

I have 4 apples,10 oranges and 5 guavas.

In [6]:
s = f'I have {apple_count} apples, {orange_count} oranges and {guava_count}'

print(s)

I have 4 apples, 10 oranges and 5

In [7]:
# this method works on the older version ide and any other  

s = ('I have {} apples, {} oranges and {} gvauas').format(apple_count, orange_count, guava_count)

In [10]:
print(s)

I have 4 apples,10 oranges and 5 guavas.

In [11]:
s = ('I have {0} apples, {2} oranges and {1} gvauas').format(apple_count, orange_count, guava_count)

print(s)

# by entering the indices number you can change the value

I have 4 apples, 5 oranges and 10 gvauas

# Methods in Strings -
https://www.scaler.com/topics/python/string-methods-python/

# Docstrings

In [12]:
range?

In [13]:
def square(x):
    return x**2